#core-concepts {
    padding: 2rem;
    border-radius: 2rem;
    min-height: auto;
    width: 100rem;
    margin: 4rem auto 4rem;
    background-color: #ffe5ec;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.15);
    border: 2px solid black;
}

#core-concepts h2 {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0 0 2rem 0;
    color: black;
    font-size: 2rem;

}

#core-concepts ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10rem;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.3rem;
}

#core-concepts li {
    width: 13rem;
    text-align: center;
    /* font-size: 1rem; */
    color: balck;
    /* font-weight: bold; */
}

#core-concepts li img {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    margin: 1rem;
}



#core-concepts li p {
    font-size: 1rem;
    font-weight: bold;
}