#end {
    display: flex
}

#examples {
    padding: 2rem;
    border-radius: 1rem;
    min-height: 10rem;
    width: 50rem;
    margin: 3rem 10rem 4rem;
    background-color: #ffe5ec;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.15);
    border: 2px solid black;
    font-size: 1rem;

}

#examples h2 {
    text-align: left;
    font-size: 2rem;
}

#examples menu {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

#examples menu button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: #a18aba;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#examples menu button:hover {
    background-color: #1b082f;
    color: #ebe7ef;
}

#examples menu button.active {
    background-color: #7925d3;
    color: #ebe7ef;
}

#content {
    padding: 1rem;
    border-radius: 6px;
    background-color: #a18aba;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

#content h3 {
    margin: 0;
}