#examples {
    padding: 2rem;
    border-radius: 1rem;
    background-color: #ffe5ec;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    width: 90%;
    max-width: 800px;
    margin: 3rem auto;
    font-size: 1rem;
}

#examples h2 {
    text-align: left;
    font-size: 1.8rem;
}

#examples menu {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    list-style: none;
    justify-content: center;
}