#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  margin: 2rem 0 2rem 0;
}

@media (max-width: 768px) {
  #header {
    flex-direction: column;
    align-items: center;
  }
}