#contact {
    background-color: #ffe5ec;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#pic img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}

@media (max-width: 768px) {
    #contact {
        flex-direction: column;
        text-align: center;
    }
}