#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe5ec;
  padding: 0 3rem;
  flex-wrap: wrap;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-family: "Roboto Condensed";
  margin-bottom: 1rem;
  border: 0.5rem solid #a9def9;
  border-radius: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

#navbar h2 {
  margin-left: 20rem;
  flex: 1;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;


}

.underline {
  display: flex;
  gap: 2rem;
  font-weight: bold;
}

.underline a {
  text-decoration: none;
  position: relative;
  color: black;
  font-weight: bold;
  transition: transform 3s ease;
  font-size: 1.5rem;
}

.underline a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 0;
  /* start from right
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease, left 0.3s ease;
}

.underline a:hover::after {
  width: 100%;
  left: 0;
}

.underline a:active {
  transform: scale(1.2);
  /* zoom 20% */
  transition: transform 1s ease;
  /* smooth animation */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  #navbar {
    flex-direction: column;
    gap: 1rem;
  }

  #navbar h2 {
    order: -1;
    /* heading first on mobile */
  }

  .underline {
    justify-content: center;
    flex-wrap: wrap;
  }
}