#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe5ec;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-family: "Roboto Condensed";
  border: 0.5rem solid #a9def9;
  border-radius: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

#navbar h2 {
  flex: 1 1 100%;
  text-align: center;
  font-weight: 900;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  margin: 0.5rem 0;
}

.underline {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  font-weight: bold;
}

.underline a {
  text-decoration: none;
  position: relative;
  color: black;
  font-weight: bold;
  transition: transform 0.3s ease;
  font-size: 1.2rem;
}

.underline a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease;
}

.underline a:hover::after {
  width: 100%;
}

.underline a:active {
  transform: scale(1.1);
}