html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #a9def9;
  min-height: 100vh;
  /* full viewport height */
}

.main-container {
  min-height: 100%;
}